appnope==0.1.0
click==6.7
dash==0.26.4
dash-core-components==0.28.3
dash-html-components==0.12.0
decorator==4.1.2
Flask==0.12.3
Flask-Cache==0.13.1
Flask-Caching==1.4.0
Flask-Login==0.4.1
Flask-SQLAlchemy==2.3.2
ipython==6.2.1
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.11.0
Jinja2==2.9.6
MarkupSafe==1.0
matplotlib==2.2.2
parso==0.1.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
psycopg2==2.7.3.2
ptyprocess==0.5.2
Pygments==2.2.0
requests-oauthlib==0.8.0
scikit-learn==0.19.2
seaborn==0.9.0
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.15.3
