{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
  <form class="form-horizontal" action="/submit" method="post">

  <ul class="nav nav-pills nav-justified">
    <li role="presentation" class="active"><a data-toggle="pill" href="#recipes">Recipes</a></li>
    <li role="presentation"><a data-toggle="pill" href="#timer">Timer</a></li>
    <li role="presentation"><a data-toggle="pill" href="#scores">Scores</a></li>
  </ul>

  <div class="tab-content">

    <div id="recipes" class="tab-pane fade in active">
    {% include 'recipes.html' %}
    </div>

    <div id="timer" class="tab-pane fade">
    {% include 'timer.html' %}
    </div>

    <div id="scores" class="tab-pane fade">
    {% include 'scores.html' %}
    </div>

  </div>

  </form>
  </div>

{% endblock %}
