{% extends "base.html" %}

{% block content %}

  <div class="jumbotron">

    <div class="page-header text-center">
        <a href="/"><h1>Brewlog</h1></a>
    </div>

  <form class="form-horizontal" action="/submit" method="post">

  <ul class="nav nav-pills nav-justified">
    <li role="presentation" class="active"><a data-toggle="pill" href="#recipes">Recipes</a></li>
    <li role="presentation"><a data-toggle="pill" href="#timer">Timer</a></li>
    <li role="presentation"><a data-toggle="pill" href="#scores">Scores</a></li>
  </ul>

  <div class="tab-content">

    <div id="recipes" class="tab-pane fade in active">
    {% include 'recipes.html' %}
    </div>

    <div id="timer" class="tab-pane fade">
    {% include 'timer.html' %}
    </div>

    <div id="scores" class="tab-pane fade">
    {% include 'scores.html' %}
    </div>

  </div>

  </form>

    {% if current_user.is_authenticated %}
    <a href="/logout"> Logout {{ current_user.email }}</a>
    {% endif %}

  </div>

{% endblock %}
