{% extends "base.html" %}

{% block content %}

  <div class="jumbotron">

    <div class="page-header text-center">
      <a href="/"><h1>Brewlog</h1></a>
    </div>

    <div class="row">
      <div class="col-xs-2 col-xs-offset-4">
        <a href="/log?method=aeropress"><img src="static/aeropress.svg" alt="Record an aeropress brew" class="img-responsive"></a>
      </div>
      <div class="col-xs-2">
        <a href="/log?method=pourover"><img src="static/pourover.svg" alt="Record a pourover brew" class="img-responsive"></a>
      </div>
    </div>

    <div class="row" style="margin-top:25px">
      <div class="page-footer text-center">

        Icons made by <a href="https://www.flaticon.com/authors/ddara" title="dDara">dDara</a>
        from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

        {% if current_user.is_authenticated %}
        <a href="/logout"> Logout {{ current_user.email }}</a>
        {% endif %}
      </div>
    </div>

  </div>

{% endblock %}
